name: Release

on:
  release:
    types: [published]

permissions: read-all

env:
  CARGO_INCREMENTAL: 0

jobs:
  publish-web:
    name: build-release
    permissions:
      contents: write
    strategy:
      fail-fast: false
      matrix:
        build: [linux-musl, macos-x86_64, macos-aarch64, win-msvc]
        include:
          - build: linux-musl
            os: ubuntu-22.04
            target: x86_64-unknown-linux-musl
          - build: macos-x86_64
            os: macos-15-intel
            target: x86_64-apple-darwin
          - build: macos-aarch64
            os: macos-15
            target: aarch64-apple-darwin
          - build: win-msvc
            os: windows-2022
            target: x86_64-pc-windows-msvc
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8
      - name: Install Rust
        uses: dtolnay/rust-toolchain@f7ccc83f9ed1e5b9c81d8a67d7ad1a747e22a561
        with:
          toolchain: stable
          target: ${{ matrix.target }}
      - name: Build release binary
        run: cargo build --target ${{ matrix.target }} --verbose --release -p diffedit3
      - name: Build archive
        shell: bash
        run: |
          # TODO: Create a third action to combine both in one archive
          outdir="target/${{ matrix.target }}/release"
          name="diffedit3-${{ github.event.release.tag_name }}-${{ matrix.target }}"
          cd "$outdir"
          ls # Debug
          if [ "${{ matrix.os }}" = "windows-2022" ]; then
            7z a "../../../$name.zip" diffedit3.exe
            echo "ASSET=$name.zip" >> $GITHUB_ENV
          else
            tar czf "../../../$name.tar.gz"  diffedit3
            echo "ASSET=$name.tar.gz" >> $GITHUB_ENV
          fi
      - name: Upload release archive
        uses: shogo82148/actions-upload-release-asset@8f6863c6c894ba46f9e676ef5cccec4752723c1e # v1.9.2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ github.event.release.upload_url }}
          asset_path: ${{ env.ASSET }}
          asset_name: ${{ env.ASSET }}
          asset_content_type: application/octet-stream

  publish-tauri:
    permissions:
      contents: write
    strategy:
      fail-fast: false
      matrix:
        platform: [macos-latest, ubuntu-22.04, windows-latest]
        include:
          - platform: macos-latest
            os: darwin
          - platform: ubuntu-22.04
            os: linux # Unlike the -web binary, this is not -musl (and cannot be, statically linked Tauri makes no sense)
          - platform: windows-latest
            os: windows-2022

    runs-on: ${{ matrix.platform }}
    steps:
      - uses: actions/checkout@v6

      - name: setup node
        uses: actions/setup-node@v6
        with:
          node-version: 21

      - name: install Rust stable
        uses: dtolnay/rust-toolchain@stable

      - name: install dependencies (ubuntu only)
        if: matrix.platform == 'ubuntu-22.04'
        run: ./.github/scripts/ubuntu_install_tauri_dependencies.sh

      - name: install frontend dependencies
        run: npm clean-install

      - uses: tauri-apps/tauri-action@v0.6.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        # Will publish a release manually
        # with:
        #   tagName: app-v__VERSION__ # the action automatically replaces \_\_VERSION\_\_ with the app version
        #   releaseName: "App v__VERSION__"
        #   releaseBody: "See the assets to download this version and install."
        #   releaseDraft: true
        #   prerelease: false

      - name: Build archive
        shell: bash
        run: |
          # TODO: Create a third action to combine both in one archive
          outdir="target/release"
          name="diffedit3-unsupported-tauri-gui-${{ github.event.release.tag_name }}-${{ matrix.os }}"
          cd "$outdir"
          ls # Debug
          if [ "${{ matrix.os }}" = "windows-2022" ]; then
            7z a "../../$name.zip" diffedit3-gui.exe
            echo "ASSET=$name.zip" >> $GITHUB_ENV
          else
            tar czf "../../$name.tar.gz"  diffedit3-gui
            echo "ASSET=$name.tar.gz" >> $GITHUB_ENV
          fi
          cd ../..
          ls
      - name: Upload release archive
        uses: shogo82148/actions-upload-release-asset@8f6863c6c894ba46f9e676ef5cccec4752723c1e # v1.9.2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ github.event.release.upload_url }}
          asset_path: ${{ env.ASSET }}
          asset_name: ${{ env.ASSET }}
          asset_content_type: application/octet-stream
