name: build

on:
  push:
    branches:
      - main
      - release
      - release-candidate
      - ci
  pull_request:

permissions: read-all

env:
  CARGO_INCREMENTAL: 0
  CARGO_PROFILE_DEV_DEBUG: 0

jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-15, macos-15-intel, windows-latest]
        cargo_flags: [""]
        include:
          - os: ubuntu-latest
            cargo_flags: "--all-features"
    runs-on: ${{ matrix.os }}
    timeout-minutes: 15

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8

      - name: Install Rust
        uses: dtolnay/rust-toolchain@f7ccc83f9ed1e5b9c81d8a67d7ad1a747e22a561
        with:
          toolchain: 1.85
      - name: Build diffedit3-web (but not Tauri diffedit3-gui, which has "gdk-3.0" runtime dependency )
        run: cargo build -p diffedit3 --all-targets --verbose ${{ matrix.cargo_flags }}
      - name: Test
        run: cargo test -p diffedit3 --all-targets --verbose ${{ matrix.cargo_flags }}
        env:
          RUST_BACKTRACE: 1

  check-formatting-and-dist-up-to-date:
    name: Check that webapp was compiled
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: setup node
        uses: actions/setup-node@v6
        with:
          node-version: 21

      - name: Remove old version of compiled and bundled JS
        shell: bash
        run: rm -rv webapp/dist

      - name: install frontend dependencies
        run: npm clean-install

      - name: build
        run: npm run build # Also runs `npm run format`

      - name: Check for uncommitted changes
        shell: bash
        run: |
          git add -N . # `git diff` ignores added files without this
          if git diff --stat --exit-code; then
              echo "OK, building and reformatting the webapp did not cause any changes."
          else
              echo
              echo 'Updates to the webapp were not bundled to webapp/dist/'
              echo 'or `prettier` was not run to reformat webapp files.'
              echo
              echo 'Please run:'
              echo '   npm clean-install && npm run build'
              exit 1
          fi

  codespell:
    name: Codespell
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8
      - uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548
        with:
          python-version: 3.12
      - name: Install uv
        uses: astral-sh/setup-uv@681c641aba71e4a1c380be3ab5e12ad51f415867
        with:
          version: "0.5.20"
      - name: Run Codespell
        run: uv run -- codespell && echo Codespell exited successfully

  clippy:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8
      - name: Install Rust
        uses: dtolnay/rust-toolchain@f7ccc83f9ed1e5b9c81d8a67d7ad1a747e22a561
        with:
          toolchain: 1.85
          components: clippy
      - name: install dependencies (ubuntu + Tauri only)
        run: ./.github/scripts/ubuntu_install_tauri_dependencies.sh
      - name: Clippy
        run: cargo clippy --workspace --all-targets --verbose

  rustfmt:
    name: Check formatting
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8
      - uses: dtolnay/rust-toolchain@f7ccc83f9ed1e5b9c81d8a67d7ad1a747e22a561
        with:
          toolchain: nightly
          components: rustfmt
      - run: cargo +nightly fmt --all -- --check
